@charset "UTF-8";

div {
    width: 100%;
    height: 100%;
}
    header {
    display: flex;
    width: 100%;
    height: 100px;
    }
    .title {
        margin-right: auto;
    }
    li {
        display: inline-block;
        list-style: none;
        padding: 10px;
    }
    a{
        text-decoration: none;
    }

    img {
            position: relative;
            width: 400px;
            height: 470px;
            top: 150px;
            left: 600px;
        }
    .firstview img {
            width: 800px;
        }
    .blue-box {
        width: 70%;
        height: 200px;
        top: 200px;
        background: #0000cd;
    }
    p {
        font-size: 45px;
        margin: 0 auto;
    }